header {
    h1 {
       width: 80px;
       height: 80px;
       background-color: #333;   
    }
    nav {
      ul {
        list-style: none;
        li {
        display: inline-block;
         min-width: 120px;
         width: 100%;
         margin:0 10px;
         a {
          color: red;
          // 偽元素
          &:hover {
            color: darkmagenta;
          }
          &::before {
            content: '';
          }  
         }
        //  a:hover {
        //     color: darkmagenta;
        //  }
        }
      }

    }
}