/*css 註解*/
// sass 註解
//plugin
// @import 'node_modules/bootstrap/scss/bootstrap.scss';

//base
@import 'sass/base/var';

//mixin
@import 'sass/mixin/mixins';


//component
@import 'sass/component/btn';
//layout
@import 'sass/layout/login';
@import 'sass/layout/header';
@import 'sass/layout/footer';
//page
@import 'sass/page/index';
@import 'sass/page/about';


// mixin



// call

section {
  @include marginTop10();
  @include rect(100vw, 300px);
  @include boxcenter()
}




.wrapper {
  @include marginTop10();
  width: 1200px;
  @include boxcenter();
}

.banner {
  @include full();
}


.space {
  @include space() {
    width: 100%;
  }
}

// 判斷式   @if @else if @else

$color : true;

.color {
  @if $color {
    color: black
  }

  @else {
    color: white
  }
}




// layout
@include layouts(1200px);

//運算
.box {
  width: 10px + 10; // 單位不同 沒辦法運算
  height: 100px - 10; //同上 
  margin: 10px * 10; // 單位相同 沒辦相乘
  //padding: (100 / 20) ;
}

$base_size : 13px;


@mixin body_font-size($base_size) {

  body,
  html {
    font-size: $base_size;
  }

  h1 {
    font-size: round($base_size * 4.5)
  }

  h2 {
    font-size: round($base_size * 3.8)
  }

  h3 {
    font-size: round($base_size * 2.7)
  }

  h4 {
    font-size: round($base_size * 1.8)
  }

  h5 {
    font-size: round($base_size * 1)
  }
}

@include body_font-size(15px);


$background_color : green;

// .box_spec {
//   @include rect(100px, 30px);
//   background-color: $background_color;
//   cursor: pointer;
//   transition: all .1s ease;

//   &:hover {
//     // background-color:  lighten($background_color , 30);
//     background-color: darken($background_color, 10);
//   }
// }



@mixin hover($class, $bgc ,$darken:true) {
  .#{$class} {
    background-color: $bgc;
    @content;
    &:hover {
      @if $darken { 
      background-color: darken($bgc , 20);
      }@else {
        background-color: lighten($bgc , 20);
         
      }
    }
  }
}

@include hover(box_spec , #f20){
  @include rect(100px , 30px);
   cursor: pointer;
   transition: all .3s ease; 
};

@include hover(btn_spec , green , false){
  @include rect(120px , 30px);
   cursor: pointer;
   transition: all .3s ease; 
};

@include hover(btn_large , green , false){
  @include rect(100% , 40px);
   cursor: pointer;
   transition: all .3s ease; 
};

.btn-outline {
   width: 100px;
   padding: 10px 0;
   color: #f20;
   text-align: center;
   border: 1px solid #f20;
   transition: all .3s ease;
   cursor: pointer;
   &:hover {
     background-color: #f20;
     color: #fff; 
   }
}
@include t(){
  .btn-default {
    width: 100px;
    padding: 10px 0;
    background-color: #f20;
    text-align: center;
    color: #fff; 
    // border: 1px solid #f20;
    transition: all .3s ease;
    cursor: pointer;
    &:hover {
      background-color: darken(#f20 , 10);
      color: #fff; 
    }
  }
}


// body {
//   padding: auto;
//   @include t(){
//     padding: 0 10px;
//   }
//   @include m(){
//     padding: 0 30px;
//   }

// }


.gray1{
   background-color: #999;
}
.gray2{
  background-color: #666;
}

@for $i from 1 through 100 {
    .push_#{$i} {
       margin-top: $i + px;
    }
}


// .col-1{width: 8.333333%;}
// .col-2{width: 16.666666%;}
// .col-3{width: 25%;}
// .col-4{width: 33.333333%;}
// .col-5{width: 41.666666%;}
// .col-6{width: 50%;}
// .col-7{width: 58.333333%;}
// .col-8{width: 66.666666%;}
// .col-9{width: 75%;}
// .col-10{width: 83.333333%;}
// .col-11{width: 91.666666%;}
// .col-12{width: 100%;}


@mixin grid($val ,$d:null){
  @for $i from 1 through $val {
    .col#{$d}-#{$i} {
      width: $i / $val *100%;
    }
  }
}

@include grid(12);

@include t(){
  @include grid(12 , -md)
}

@include m(){
  @include grid(12 , -xs)
}

// $list : ad01 , ad02 , ad03 ; // list


// each


@mixin banner($list){
  @each $i in $list {
    .banner_#{$i} {
      background-image: url('images/#{$i}.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      @content;    
    }
  }
}


@include banner(ad1 ad2){
  width: 100vw;
  height: 100vh;
}

@include banner(ad3 ad4){
  width: 100vw;
  height: 250px;
}


// $map : (
//   key : val
// )



//map-get
// h1 {
//   font-size: map-get($titleFontsize, h4);
// }


@each $key , $val in $titleFontsize {
   #{$key} {
     font-size: $val;
   }
}

//color & bcg
@each $key , $val in $fontColor {
  .#{$key} {
    color: $val
  }
  .#{$key}-bg{
    background-color: $val;

  }
}












