/*css 註解*/
// sass 註解
//base
@import 'sass/base/var';
//component
@import 'sass/component/btn';
//layout
@import 'sass/layout/login';
@import 'sass/layout/header';
@import 'sass/layout/footer';
//page
@import 'sass/page/index';
@import 'sass/page/about';



@mixin marginTop10(){
   margin-top: 10px;
}


@mixin boxcenter(){
    margin: 0 auto;
}

@mixin full(){
   width: 100vw;
   height: 100vh;
}


section {
  @include marginTop10();
  width:300px;
  @include boxcenter()
}

.wrapper {
   @include marginTop10();
   width:1200px;
   @include boxcenter();
}

.banner {
  @include full();
}


