$fontSize : 18px; // number
$title_h1 : 36px; // number
$h1_space : 5px 8px 20px 10px; // list
$bodyColor : #333; // color
$bodybgColor : #e2e2e2; //color
$null : null; //空值
$title : h2;

$m-min : 768px;
$t-min : 996px;

// 字體大小管理
$titleFontsize: (
  'h1' : 45px,
  'h2' : 40px,
  'h3' : 36px,
  'h4' : 28px,
  'h5' : 18px,
  '.large-title' : 40px,
  '.medium-title' : 30px,
  '.small-title' : 26px,
  'span' : 11px,
  'ul li' : 20px ,
  'body' : 16px
);//map


$fontColor:(
  'primary100' : #017187,   
  'primary80' : #67aab7,   
  'secondary100' : #f5a9aa,   
  'secondary80' : #f7babb,
  'error' : #f20    
);



