$fontSize : 18px; // number
$title_h1 : 36px; // number
$h1_space : 5px 8px 20px 10px; // list
$bodyColor : #333; // color
$bodybgColor : #e2e2e2; //color
$null : null; //空值
$title : h2;

$m-min : 768px;
$t-min : 996px;